
.navbar {

    background-color: #8014D0;
   
}
.quemsomos {
    background-color: orange;
    color: white;
}
.navlink {
background-color: antiquewhite;
}
.margin {

    padding-bottom: 100px;
    padding-top: 10px

}

.parceiros {
    background-color: purple ;
    color: white;
}
.bg-footer{

    background-color: purple;
    color: white;
}